# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/target/surefire-reports/TESTS-HeadlessChrome_67.0.3396_(Windows_10.0.0).xml
test-results/HeadlessChrome 67.0.3396 (Windows 10.0.0)/index.html
src/target/surefire-reports/TESTS-Chrome_67.0.3396_(Windows_10.0.0).xml
test-results/Chrome 67.0.3396 (Windows 10.0.0)/index.html
